%html
  %head
    %title Countdown to Aruba
    %link(rel="stylesheet" href="styles.css")
    %script{:type => "text/javascript", :src  => "countdown.js"}
  %body
    #content
      #departure
        %h1#countdown== #{ @days_to_departure }
        %h2 days to departure
      #weather
        %h3 Current weather on Aruba
        #current-weather
          #weather-image
            %img(src="#{@image}")
          #weather-description
            #{@current_temperature}&deg;C
            %br= @current_condition
        #high-low== High: #{@forecast_high}&deg;C, Low: #{@forecast_low}&deg;C
    #footer
      %p
        This is a Notingham production by
        %a{href: "https://twitter.com/Lavinia666"}@Lavinia666
        and
        %a{href: "https://twitter.com/DevLCSC"}@DevLCSC
