%h3 Current weather in La Altagracia, Dominican Republic
#current-weather
  #weather-image
    %img(src="#{@image}")
  #weather-description
    #{@current_temperature}&deg;C
    %br= @current_condition
#high-low== High: #{@forecast_high}&deg;C, Low: #{@forecast_low}&deg;C
